---
import Work4 from "../assets/letsgoAV1.mp4";
import Work1 from "../assets/work-1.png";
import Work2 from "../assets/work-2.png";
import Work3 from "../assets/work-3.png";
import Work5 from "../assets/work-5.png";
---

<section>
  <h2 class="heading-1">
    Take a look at these digital gems and <span class="green">discover</span> how
    I turn <span class="pink">ideas</span> into <span class="violet"
      >realities.</span
    >
  </h2>
  <ul class="projects">
    <li class="card">
      <div class="card-video">
        <video muted autoplay width="550" preload="auto">
          <source src={Work4} type="video/mp4" />
        </video>
      </div>
      <h3 class="heading-3">
        <a href="https://letsgocompany.com/dure">LetsGo Company </a>
        ||
        <a href="https://planletsgo.com/"> Plan LetsGo</a>
      </h3>
      <ul class="card-skills">
        <li class="card-tag">WordPress</li>
        <li class="splitter">||</li>
        <li class="card-tag">Styled Componets</li>
        <li class="card-tag">NextJs</li>
        <li class="card-tag">Strapi</li>
      </ul>
    </li>
    <li class="card">
      <figure class="card-picture">
        <img src={Work3.src} alt="Beam Suntory" />
      </figure>
      <h3 class="heading-3">
        <a href="https://www.suntoryglobalspirits.com/">Beam Suntory</a>
      </h3>
      <ul class="card-skills">
        <li class="card-tag">React</li>
        <li class="card-tag">Drupal</li>
        <li class="card-tag">SQL Server</li>
      </ul>
    </li>
    <li class="card">
      <figure class="card-picture">
        <img src={Work5.src} alt="Durex" />
      </figure>
      <h3 class="heading-3">
        <a href="https://letsgocompany.com/">Durex</a>
      </h3>
      <ul class="card-skills">
        <li class="card-tag">Shopify</li>
        <li class="card-tag">Liquid / Ruby</li>
        <li class="card-tag">CSS</li>
      </ul>
    </li>
    <li class="card">
      <figure class="card-picture">
        <img src={Work2.src} alt="Libros del cole" />
      </figure>
      <h3 class="heading-3">
        <a href="https://librosdelcole.es/">Libros del cole</a>
      </h3>
      <ul class="card-skills">
        <li class="card-tag">Styled Components</li>
        <li class="card-tag">NextJs</li>
        <li class="card-tag">Django</li>
      </ul>
    </li>
    <li class="card">
      <figure class="card-picture">
        <img src={Work1.src} alt="Amazon luggage" />
      </figure>
      <h3 class="heading-3"><a href="#">Amazon luggage</a></h3>
      <ul class="card-skills">
        <li class="card-tag">CSS Modules</li>
        <li class="card-tag">NextJs</li>
        <li class="card-tag">Graphql</li>
      </ul>
    </li>
  </ul>
</section>
